body {
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, "Open Sans", sans-serif;
  /* font-size: 20px; */
  font-weight: 300;
  line-height: 1.4rem;
  background: #f3f4f5;
  color: #646c7f;
  text-rendering: optimizeLegibility;
}
@media (max-width: 600px) {
  html,
  body {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  html,
  body {
    font-size: 16px;
  }
}

#c1 {
  text-align: center;
}

#c2 {
  text-align: center;
}

#drop_zone {
  margin: 0 30%;
  margin-top: 1rem;
  text-align: center;
  padding: 16px;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
  margin: 0 38%;
  margin-top: 1rem;
  text-align: center;
  padding: 16px;
  font-size: large;
}
.dropzone .dz-message {
  font-weight: 400;
}
.dropzone .dz-message .note {
  font-size: 0.8em;
  font-weight: 200;
  display: block;
  margin-top: 1.4rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#pointscanvas {
  background-size: 200px 200px;
}
