body {
  margin: auto;
  /* font-family: Roboto, "Open Sans", sans-serif; */
  /* font-weight: 300; */
  line-height: 1.7rem;
  color: rgba(47, 72, 88);
}

header {
  position: relative;
  text-align: center;
  background-color: #2f4858;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  line-height: 2rem;
  font-size: 1.4rem;
}

header h1 {
  position: relative;
  margin: 0;
  padding: 0 20px;
  color: white;
}

header p {
  position: relative;
  color: white;
  margin: auto;
  font-size: 85%;
}

h4,
h3,
p {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  /* font-size: 1.2rem; */
}
li {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

h3,
h4 {
  color: #ef798a;
  text-align: center;
}

a,
a:visited {
  color: #ef798a;
}
a:hover {
  color: #e91e63;
}

@media (max-width: 400px) {
  html,
  body {
    font-size: 16px;
  }
}

#drop_zone {
  margin: 0 30%;
  margin-top: 1rem;
  text-align: center;
  padding: 16px;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
  margin: 0 38%;
  margin-top: 1rem;
  text-align: center;
  padding: 16px;
  font-size: large;
}
.dropzone .dz-message {
  font-weight: 400;
}
.dropzone .dz-message .note {
  font-size: 0.8em;
  font-weight: 200;
  display: block;
  margin-top: 1.4rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

canvas {
  display: block;
  position: relative;
  max-width: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;

  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}

.base_img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 10px; /* Rounded border */
  padding: 8px; /* Some padding */
  width: 100px; /* Set a small width */
  height: 100px;
  cursor: pointer;
}

/* Add a hover effect (blue shadow) */
.base_img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

table {
  order: 2;
}

#startup {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#baseCanvas {
  max-width: 700px !important;
  width: 75% !important;
  margin: 0 !important;
  margin-right: 20px !important;
  order: 1;

  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}
